@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-toastify/dist/ReactToastify.min.css";

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    scrollbar-width: thin;
    scrollbar-color: rgb(82 82 82) rgb(212 212 212);
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: dark;
    }
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 27, 38, 44;
        --background-end-rgb: 5, 11, 16;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 27, 38, 44;
        --background-end-rgb: 5, 11, 16;
    }
    html {
        color-scheme: dark;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(173deg, rgb(var(--background-end-rgb)) 0%, rgb(var(--background-start-rgb)) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

form > *,
input {
    @apply text-gray-900;
}

form > label {
    @apply text-slate-50;
}

input,
textarea,
select {
    @apply text-gray-900;
    @apply px-2;
}

form > button,
.basicBtn {
    @apply flex-1 w-32 bg-slate-200 text-black rounded-md md:py-1 hover:bg-slate-400 ease-in-out duration-200 disabled:bg-slate-500;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
